<ul class="collection with-header">
    <li class="collection-header"><h4>Ninja List</h4></li>
    <li class="collection-item">
        <div class="input-field">
            <input id="search" type="text" ng-model="search">
            <label for="search">Search</label>
            <button class="waves-effect waves-light btn" ng-click="dir(-1)">Z-A</button>
            <button class="waves-effect waves-light btn" ng-click="dir(1)">A-Z</button>
        </div>
    </li>
    <li class="collection-item fade-collection-item" ng-repeat="ninja in ninjas | orderBy: orderBy | filter: search">
        <span class="title">{{ninja.name}} - {{ninja.rate | currency: '£'}}</span>
        <a href="#" class="secondary-content" ng-click="removeItem($event, ninja)">
            <i class="material-icons">delete</i>
        </a>
    </li>
    <li class="collection-item">
        <a href="#" ng-click="removeAll($event)">Remove All</a>
    </li>

    <li class="collection-header"><h4>Create New Ninja</h4></li>
    <li class="collection-item">
        <form ng-submit="addNinja()">
            <div class="input-field">
                <input id="name" type="text" ng-model="newNinja.name">
                <label for="name">Name</label>
            </div>
            <div class="input-field">
                <input id="rate" type="number" ng-model="newNinja.rate">
                <label for="rate">Rate</label>
            </div>
            <div class="input-field">
                <button class="waves-effect waves-light btn" type="submit">Add New Ninja</button>
            </div>
        </form>
    </li>
</ul>
